body {
  padding-top: 50px;
}

.right {
    text-align: right;
}

.mono {
    font-family: monaco;
    /* font-weight: bold; */
    /* font-size: large; */
}

.basic-input {
    width:120px;
}

.myfont {
    font-size: small;
}

#table1 td {
    border-top: 0px;
}

#table2 td {
    border-top: 0px;
}

#basic-table td {
    border-top: 0px;
}

.popover-content, .popover-content .body {
    font-size: small;
    width: 100%;
    text-align: left;
}
