body {
  padding-top: 65px;
}

.right {
    text-align: right;
}

.mono {
    font-family: monaco;
    /* font-weight: bold; */
    /* font-size: large; */
}

.basic-input {
    width:120px;
}

.myfont {
    font-size: small;
}

.popover-content {
    font-size: small;
}