{% extends "layout.html" %}
{% block body %}

  <div class="jumbotron">
    <div class="container">
      <h1> Vinnerator </h1>
      <p> First there was Ellwood. Then there was Akerson. Now there's Vinnerator. </p>
      <!-- <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
    </div>
  </div>

  <div class="container">
     <div class="row">
        <div class="col-lg-4">
	  <div class="hero-unit">
	    <p>What if you could calculate cap rates without forecasting future value?</p>
	  </div>
	</div>
     </div>
  </div>
{% endblock %}
