<!doctype html>
<title>Vinnerator</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" />
<div class=page>

  <body>
    
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"><!-- Collapsable nav bar -->
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
	</a>
	
	<!-- Your site name for the upper left corner of the site -->
	<!-- <a class="brand">My Site</a> -->
	
	<!-- Start of the nav bar content -->
	<div class="nav-collapse"><!-- Other nav bar content -->
          <!-- The drop down menu -->
          <ul class="nav pull-right">
            <!-- <li><a href="/users/sign_up">Sign Up</a></li> -->
            <li class="divider-vertical"></li>
	    <li class=metanav>
	      {% if not session.logged_in %}
	      <a href="{{ url_for('login') }}">log in</a>
	      {% else %}
	      <a href="{{ url_for('logout') }}">log out</a>
	      {% endif %}
	    </li>
	    
            <!-- <li class="dropdown"> -->
            <!--   <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a> -->
            <!--   <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;"> -->
            <!--     <\!-- Login form here -\-> -->
            <!--   </div> -->
            <!-- </li> -->
          </ul>
	</div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <h1> Vinnerator </h1>
      <p> First there was Ellwood. Then there was Akerson. Now there's Vinnerator. </p>
      <!-- <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
    </div>
  </div>

  </body>
  {% block body %}

  {% endblock %}
  
</div>





