<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
  function loadSavedScenario(x) {
      window.location.replace("/show_scenarios/" + x.value);
  }

  function deleteSelected() {
      var y = $("input:radio[name=scenario_radio]:radio:checked").val()
      window.location.replace("/delete/" + y);
  }
  
</script>

<div id="wrap">
{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <form action="{{ url_for('add_scenario' ) }}" method=post class=add-entry>
      <h3>Scenario <input type="text" size=60 name=title value="{{scenarios[index].title}}"></h3>
      <div class="row">
	<div class="col-md-4">
	  <table class="table table-striped">
	    <tbody>
              <tr>
		<td>Cash on cash requirement</td>
		<td><input type=text class="right" size=3 name=cash_on_cash value={{scenarios[index].cash_on_cash}}></td>
              </tr>
              <tr>
		<td>Target loan-to-value</td>
		<td><input type=text class="right" size=3 name=target_ltv value={{scenarios[index].target_ltv}}></td>
              </tr>
	      <tr>
		<td>Transfer cost</td>
		<td><input type=text class="right" size=3 name=transfer_cost value={{scenarios[index].transfer_cost}}></td>
              </tr>
              <tr>
		<td>Transfer buyer's share</td>
		<td><input type=text class="right" size=3 name=transfer_buyer_share value={{scenarios[index].transfer_buyer_share}}></td>
              </tr>
	      <tr>
		<td>Recordation cost</td>
		<td><input type=text class="right" size=3 name=recordation_cost value={{scenarios[index].recordation_cost}}></td>
              </tr>
              <tr>
		<td>Recordation buyer's share</td>
		<td><input type=text class="right" size=3 name=recordation_buyer_share value={{scenarios[index].recordation_buyer_share}}></td>
              </tr>
              <tr>
		<td>Finance</td>
		<td><input type=text class="right" size=3 name=finance value={{scenarios[index].finance}}></td>
              </tr>
              <tr>
		<td>Interest</td>
		<td><input type=text class="right" size=3 name=interest value={{scenarios[index].interest}}></td>
              </tr>
	      <tr>
		<td>Amortization</td>
		<td><input type=text class="right" size=3 name=amort value={{scenarios[index].amort}}></td>
              </tr>
	    </tbody>
	  </table>
	</div>
	<div class="col-md-4">
	  <table class="table table-striped">
            <tr>
	      <td>Mezzanine rate</td>
	      <td><input type=text class="right" size=3 name=mezz_rate value={{scenarios[index].mezz_rate}}></td>
            </tr>
            <tr>
	      <td>Mezzanine interest only</td>
	      <td><input type=text class="right" size=3 name=mezz_interest_only value={{scenarios[index].mezz_interest_only}}></td>
            </tr>
            <tr>
	      <td>Mezzanine secured</td>
	      <td><input type=text class="right" size=3 name=mezz_secured value={{scenarios[index].mezz_secured}}></td>
            </tr>
	    <tr>
	      <td>Mezzanine amortization</td>
	      <td><input type=text class="right" size=3 name=mezz_amort value={{scenarios[index].mezz_amort}}></td>
            </tr>
            <tr>
	      <td>Appreciation/decpreciation</td>
	      <td><input type=text class="right" size=3 name=apprec_depr value={{scenarios[index].apprec_depr}}></td>
            </tr>
	    <tr>
	      <td>Holding period</td>
	      <td><input type=text class="right" size=3 name=holding_period value={{scenarios[index].holding_period}}></td>
            </tr>
	  </table>



	</div>
	<div class="col-md-4">
	  <div class="panel panel-default">
	    <div class="panel-body">

	      <table class="table">
		<tr>
		  <td>1st Mort</td>
		  <td>{{ '%.3f' % result.first_mort }}</td>
		</tr>
		<tr>
		  <td>Mezz</td>
		  <td>{{ '%.3f' % result.mezz}}</td>
		</tr>
		<tr>
		  <td>Yield</td>
		  <td>{{ '%.3f' % result.calc_yield}}</td>
		</tr>
		<tr>
		  <td>Amort 1st Mort</td>
		  <td>{{ '%.3f' % result.amort_first_mort}}</td>
		</tr>
		<tr>
		  <td>Amort Mezz</td>
		  <td>{{ '%.3f' % result.amort_mezz}}</td>
		</tr>
		<tr>
		  <td>Appr</td>
		  <td>{{ '%.3f' % result.appr}}</td>
		</tr>
	      </table>

	      <h4 align="center">Cap Rate: {{ '%.3f' % result.cap_rate}}</h4>
	      <p align="center"><input type=submit value="Capulate!" class="btn btn-primary"></p>
	    </div>
	  </div>

	  
	</div>
      </div>
    </form>
  </div>

  <form name="scenarioSelector">
    <div class="container">
      <div class="form-group">
	<h4>Saved Scenarios</h4>
	{% for i in range(scenarios|length) %}
	<div class="col-lg-12">
	  {% if i == index %}
	  <input type="radio" name="scenario_radio" value="{{i}}" onchange="loadSavedScenario(this)" checked="checked">
             {{ scenarios[i].title }}
          </input>
	  {% else %}
	  <input type="radio" name="scenario_radio" value="{{i}}" onchange="loadSavedScenario(this)">
             {{ scenarios[i].title }}
          </input>
	  {% endif %}
	</div>
	{% else %}
	<li><em>Unbelievable.  No saved scenarios here so far</em>
	  {% endfor %}
      </div>	
    </div>

    <div id="footer">
      <div class="container">
	<input type="button" class="btn btn-primary" value="Delete selected" onclick="deleteSelected()">
      </div>
    </div>

  </form>
  
{% endblock %}
</div>
