{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <div class="container">
    <div class="row">
      <form action="{{ url_for('add_scenario') }}" method=post class=add-entry>
	<div class="col-md-6">
	  <table class="table table-striped">
	    <tbody>
              <tr>
		<td>Scenario name</td>
		<td><input type=text size=30 name=title></td>
              </tr>
              <tr>
		<td>Cash on cash requirement</td>
		<td><input type=text size=30 name=cash_on_cash></td>
              </tr>
              <tr>
		<td>Target loan-to-value</td>
		<td><input type=text size=30 name=target_ltv></td>
              </tr>
	      <tr>
		<td>Transfer cost</td>
		<td><input type=text size=30 name=transfer_cost></td>
              </tr>
              <tr>
		<td>Transfer buyer's share</td>
		<td><input type=text size=30 name=transer_buyers_share></td>
              </tr>
	      <tr>
		<td>Recordation cost</td>
		<td><input type=text size=30 name=recordation_cost></td>
              </tr>
              <tr>
		<td>Recordation buyer's share</td>
		<td><input type=text size=30 name=recordation_buyers_share></td>
              </tr>
              <tr>
		<td>Finance</td>
		<td><input type=text size=30 name=finance></td>
              </tr>
              <tr>
		<td>Interest</td>
		<td><input type=text size=30 name=interest></td>
              </tr>
	      <tr>
		<td>Amortization</td>
		<td><input type=text size=30 name=amort></td>
              </tr>
	    </tbody>
	  </table>
	</div>
	<div class="col-md-6">
	  <table class="table table-striped">
            <tr>
	      <td>Mezzanine rate</td>
	      <td><input type=text size=30 name=mezz_rate></td>
            </tr>
            <tr>
	      <td>Mezzanine interest only</td>
	      <td><input type=text size=30 name=mezz_interest_only></td>
            </tr>
            <tr>
	      <td>Mezzanine secured</td>
	      <td><input type=text size=30 name=mezz_secured></td>
            </tr>
	    <tr>
	      <td>Mezzanine amortization</td>
	      <td><input type=text size=30 name=mezz_amort></td>
            </tr>
            <tr>
	      <td>Appreciation/decpreciation</td>
	      <td><input type=text size=30 name=apprec_depr></td>
            </tr>
	    <tr>
	      <td>Holding period</td>
	      <td><input type=text size=30 name=holding_period></td>
            </tr>
	    <tr>
	      <td>Text</td>
	      <td><input type=text size=30 name=text></td>
            </tr>
	  </table>
	  <dl>
	    <dd><input type=submit value=Vinnerate!></dd>
	  </dl>
	</div>
      </form>
    </div>
  </div>  
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No scenarios here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
