{% extends "layout.html" %}
{% block body %}


<div class="container">
<h3>Use Capulator to Improve Your Leveraged Investment Decisions</h3>

<p>• Capitalization Rate (cap rate) is widely defined as first year Net Operating Income ÷ Purchase Price</p>

<p>• This traditional view defines cap rates as a market output (e.g., “property X 
traded at a 6 cap”)</p> 

<p>• Then this historical market data is often used as input for a real time valuation
(e.g., “so comparable property Y is also worth NOI/6%”)</p> 

<p>• This is a poor application of a powerful tool that can synthesize – individual 
investor and deal specific – costs of capital, amortization benefits, and 
transaction costs into a single metric based on a few key inputs (e.g., debt terms, 
equity requirements, etc.).</p> 

<p>• The problem is – how does one calculate a customized cap rate to use as an 
input?</p> 

<p>Appraisal mathematicians L.W. Ellwood and Charles Ackerson tackled this very issue and 
derived formulas (published in 1959 and 1970 respectively) to calculate capitalization 
rates based on financial inputs. Both formulas are useful, but require a “crystal ball” 
projection of future value. This need to forecast future value limits the usefulness of 
Ellwood and Ackerson’s formulas.</p> 


<h3>Capulator Eliminates the Need to Forecast Future Value in order to Compute Capitalization Rates</h3>

<p>Additionally, Capulator’s custom algorithm mathematically distributes the returns of 
a commercial real estate investment into three categories of returns: Cash Flow, Loan 
Paydown, and Gain (or Loss) on Sale (future sale price minus debt payoff) for additional 
investment decision insight.</p> 


<h3>Try Capulator for Free today!</h3>

</div>
{% endblock %}
