<div id="wrap">
{% extends "layout.html" %}
{% block body %}

<div class="jumbotron">
  <div class="container">
    <h1> Capulator </h1>
    <p> First there was Ellwood. Then there was Akerson. Now there's Capulator. </p>
  </div>
</div>

<div class="container">
  <form action="{{ url_for('basic_calc') }}" id="basicForm" method=post>
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-6">
	<table class="table" id="basic-table">
	  <tbody>
            <tr>
	      <td>
		<a class="btn primary has_popover" rel="popover"
		   data-content="Year 1 Cash on Cash is the Year 1 Net Cash Flow divided by Equity Investment">
		  Year 1 Cash on Cash
		</a>
	      </td>
	      <td align="right">
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type="text" class="percentage form-control right"  name="cash_on_cash" id="cash_on_cash" value={{scenario.cash_on_cash}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
            </tr>
            <tr>
	      <td>
		<a class="btn large primary has_popover" rel="popover"
		   data-content="Loan to value of acquisition price (target)">
		  Target Loan-to-Value  
		</a>
	      </td>
	      <td align="right">
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type="text" class="percentage form-control right"  name="target_ltv" id="target_ltv" value={{scenario.target_ltv}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
            </tr>
	    <tr>
	      <td>
		<a class="btn large primary has_popover" rel="popover"
		   data-content="Interest rate of the first mortgage">
		  Interest
		</a>
		</td>
	      <td align="right">
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right"  name="interest" id="interest" value={{scenario.interest}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
	    </tr>
	    <tr>
	      <td>
		<a class="btn large primary has_popover" rel="popover"
		   data-content="Amortization period of first mortgage expressed in years.">
		  Amortization
		</a>
		</td>
	      <td align="right">
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="number form-control right"  name="amort" id="amort" value={{scenario.amort}}>
		  <span class="input-group-addon mono">y</span>
		</div>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </div>

      <div class="col-md-6">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <h4 align="center">Cap Rate: {{ '%.3f' % result.cap_rate}}</h4>
	    <p align="center"><input type=submit value="Capulate!" class="btn btn-primary"></p>
	  </div>
	</div>
      </div>
    </div>
  </form>


  <script>
    cap.setupValidation();
    cap.validate("#basicForm");
    $(".has_popover").popover({offset: 10, trigger: 'hover'});
  </script>

  {% if not current_user.is_authenticated() %}
  <p>This is the basic calculation. If you want Capulator to consider mezzanine debt, transfer and
    recordation costs, appreciation, and hold periods or if you want to see a breakout of returns
    between amortization, cash yields, and asset appreciation, <a href="/register" target="_self">sign up.</a></p>
  {% else %}
  <p>This is the basic calculation. If you want Capulator to consider mezzanine debt, transfer and
    recordation costs, appreciation, and hold periods or if you want to see a breakout of returns
    between amortization, cash yields, and asset appreciation,
    <a href="/show_scenarios" target="_self">go to the advanced calculation.</a></p>
  {% endif %}

</div>

{% endblock %}
</div>
