
{% extends "layout.html" %}
{% block body %}

<div class="jumbotron">
  <div class="container">
    <h1> Capulator </h1>
    <p> First there was Ellwood. Then there was Akerson. Now there's Capulator. </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="hero-unit">
	<p id="contentArea">What if you could calculate cap rates without forecasting future value?
	  <a href="/basic" target="_self"> Click here to find out. </a>
	</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
