<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
  function loadSavedScenario(x) {
      window.location.replace("/show_scenarios/" + x.value);
  }

  function deleteSelected() {
      var y = $('#saved :selected').val()
      window.location.replace("/delete/" + y);
  }
  
</script>

<div id="wrap">
{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <form action="{{ url_for('add_scenario' ) }}" method=post id="advancedForm">
      <div class="row">
	<div class="col-md-12">
	  <h3>Scenario <input class="scenario" type="text" size=30 name="title" id="title" value="{{scenarios[index].title}}"></h3>
	  <div class="row">
	  </div>
	</div>
      </div>
      <div class="row">
	<div class="col-md-4">
	  <table class="table">
            <tr>
	      <td>Cash on cash</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right" name="cash_on_cash" id="cash_on_cash" value={{scenarios[index].cash_on_cash}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
            </tr>
            <tr>
	      <td>Loan-to-value</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right" name="target_ltv" id="target_ltv" value={{scenarios[index].target_ltv}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
            </tr>
	    <tr>
	      <td>Mezzanine Debt</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right" name="mezz_debt" id="mezz_debt" value={{scenarios[index].mezz_debt}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
            </tr>
	    <tr>
	      <td>Transfer cost</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right" name="transfer_cost" id="transfer_cost" value={{scenarios[index].transfer_cost}}>
		  <span class="input-group-addon mono">%</span>
		</div>

	      </td>
            </tr>
            <tr>
	      <td>Transfer buyer's share</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>

		  <input type=text class="percentage form-control right" name="transfer_buyer_share" id="transfer_buyer_share" value={{scenarios[index].transfer_buyer_share}}>
		  <span class="input-group-addon mono">%</span>
		</div>

	      </td>
            </tr>
	    <tr>
	      <td>Recordation cost</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">$</span>
		  <input type=text class="dollar form-control right" name="recordation_cost" id="recordation_cost" value={{scenarios[index].recordation_cost}}>
		  <span class="input-group-addon mono">&nbsp</span>
		</div>
	      </td>
            </tr>
            <tr>
	      <td>Recordation buyer's share</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right" name="recordation_buyer_share" id="recordation_buyer_share" value={{scenarios[index].recordation_buyer_share}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
	    </tr>
	    <tr>
	      <td>Finance</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right" name="finance" id="finance" value={{scenarios[index].finance}}>
		  <span class="input-group-addon mono">%</span>
		</div>

	      </td>
	    </tr>
	    <tr>
	      <td>Interest</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="number form-control right" name="interest" id="interest" value={{scenarios[index].interest}}>
		  <span class="input-group-addon mono">%</span>
		</div>

	      </td>
	    </tr>
	    <tr>
	      <td>Amortization</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="number form-control right" name="amort" id="amort" value={{scenarios[index].amort}}>
		  <span class="input-group-addon mono">y</span>
		</div>
	      </td>
            </tr>
	  </table>
	</div>
	<div class="col-md-5">
	  <table class="table">
            <tr>
	      <td>Mezzanine rate</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right" name="mezz_rate" id="mezz_rate" value={{scenarios[index].mezz_rate}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
            </tr>
            <tr>
	      <td>Mezzanine interest only</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="form-control right" name="mezz_interest_only" id="mezz_interest_only" value={{scenarios[index].mezz_interest_only}}>
		  <span class="input-group-addon mono">&nbsp</span>
		</div>
	      </td>
            </tr>
            <tr>
	      <td>Mezzanine secured</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="form-control right" name="mezz_secured" id="mezz_secured" value={{scenarios[index].mezz_secured}}>
		  <span class="input-group-addon mono">&nbsp</span>
		</div>
	      </td>
            </tr>
	    <tr>
	      <td>Mezzanine amortization</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right" name="mezz_amort" id="mezz_amort" value={{scenarios[index].mezz_amort}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
            </tr>
            <tr>
	      <td>Appreciation/decpreciation</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="percentage form-control right" name="apprec_depr" id="apprec_depr" value={{scenarios[index].apprec_depr}}>
		  <span class="input-group-addon mono">%</span>
		</div>
	      </td>
            </tr>
	    <tr>
	      <td>Holding period</td>
	      <td>
		<div class="input-group basic-input">
		  <span class="input-group-addon mono">&nbsp</span>
		  <input type=text class="number form-control right" name="holding_period" id="holding_period" value={{scenarios[index].holding_period}}>
		  <span class="input-group-addon mono">y</span>
		</div>
	      </td>
            </tr>
	  </table>
	</div>
	<div class="col-md-3">
	  <div class="panel panel-default">
	    <div class="panel-body">
	      <table class="table">
		<tr>
		  <td>1st Mort</td>
		  <td>{{ '%.3f' % result.first_mort }}</td>
		</tr>
		<tr>
		  <td>Mezz</td>
		  <td>{{ '%.3f' % result.mezz}}</td>
		</tr>
		<tr>
		  <td>Yield</td>
		  <td>{{ '%.3f' % result.calc_yield}}</td>
		</tr>
		<tr>
		  <td>Amort 1st Mort</td>
		  <td>{{ '%.3f' % result.amort_first_mort}}</td>
		</tr>
		<tr>
		  <td>Amort Mezz</td>
		  <td>{{ '%.3f' % result.amort_mezz}}</td>
		</tr>
		<tr>
		  <td>Appr</td>
		  <td>{{ '%.3f' % result.appr}}</td>
		</tr>
	      </table>
	      <h4 align="center">Cap Rate: {{ '%.3f' % result.cap_rate}}</h4>
	      <h4 align="center">Offer Price Cap Rate: {{ '%.3f' % result.op_cap_rate}}</h4>
	      <p align="center"><input type=submit value="Capulate!" class="btn btn-primary"></p>
	    </div>
	  </div>
	</div>
      </div>
    </form>
    <script>
      cap.setupValidation();
      cap.validate("#advancedForm");
    </script>
  </div>

  <form name="scenarioSelector">
    <div class="container">
      <div class="form-group">
	<h4>Saved Scenarios</h4>
	<select id='saved' onchange="loadSavedScenario(this)"> 
	  {% for i in range(scenarios|length) %}
	  {% if i == index %}
	  <option value="{{i}}" selected>{{ scenarios[i].title }}</option>
	  {% else %}
	  <option value="{{i}}">{{ scenarios[i].title }}</option>
	  {% endif %}
	  {% else %}
	  <li><em>Unbelievable.  No saved scenarios here so far</em>
	    {% endfor %}
      </div>
      <input type="button" class="btn btn-primary" value="Delete selected" onclick="deleteSelected()">
    </div>
  </form>
  
  {% endblock %}
</div>
